rules_version = '2';

// Allow delete, write, update update access on all documents to any user signed in to the application
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow delete, write, update: if request.auth != null;
      allow read: if true;
    }
  }
}