:root {
  --main-blue: #22577a;
  --ligth-blue: #b4cded;
  --white: #f0f4ef;
  --sage: #bfcc94;
  --red: #ff0035;
}

html body {
  margin: 0;
  z-index: 0;
  background-color: var(--main-blue);
}

main {
  padding: 30px 0px 0px 0px;
}

.options {
  color: var(--white);
}

.new {
  background-color: var(--ligth-blue);
  color: var(--main-blue);
  font-weight: bold;
}

.new:hover {
  background-color: var(--white);
  color: var(--main-blue);
}

.card-header {
  background-color: var(--ligth-blue);
  color: var(--main-blue);
}

.modal-header {
  background-color: var(--ligth-blue);
  color: var(--main-blue);
}

#user-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 22px;
  width: 100%;
  right: 0;
  justify-content: flex-end;
}

#user-container #user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url("/images/profile_placeholder.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}

#user-container #user-name {
    font-size: 16px;
    line-height: 36px;
    padding-right: 10px;
    padding-left: 20px;
    color: var(--white);
  }